{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <!-- Banner -->
		<section id="intro" class="main">
			<span class="icon fa-exclamation major"></span>
			<h2>{{ heading }}</h2>
			<p>This is a private page. Only authenticated users are supposed to <br />
			have access to this page.</p>
			<ul class="actions">
				<li><a href="{{ path('api') }}" class="button big">Home</a></li>
				<li><a href="{{ path('public') }}" class="button big">Public</a></li>
			</ul>
		</section>

		<!-- Items -->
    {% endblock %}

{% endblock %}