{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <!-- Banner -->
		<section id="intro" class="main">
			<!-- <span class="icon fa-diamond major"></span> -->
			<h2>{{ heading }}</h2>
			<p>This is the public landing page. It is available to the general public.</p>
			<ul class="actions">
				<li><a href="{{ path('api') }}" class="button big">Home</a></li>
				<li><a href="{{ path('private') }}" class="button big">Private</a></li>
			</ul>
		</section>

		<!-- Items -->
    {% endblock %}

{% endblock %}