<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		
        <title>
        	{% block title %}{{ title }}{% endblock %}
    	</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/main.css')}}" />
        {% endblock %}
    </head>
    <body>

        {% block body %}

            <div id="wrapper">

            	{% block content %}
            	    <!-- Banner -->
					<section id="intro" class="main">
						<!-- <span class="icon fa-diamond major"></span> -->
						<h2>{{ heading }}</h2>
						<p>This is the landing page. It is available to the general public.</p>
						<ul class="actions">
							<li><a href="{{ path('api') }}" class="button big">Home</a></li>
							<li><a href="{{ path('public') }}" class="button big">Public</a>
							<li><a href="{{ path('private') }}" class="button big">Private</a></li>
						</ul>
					</section>

					<!-- Items -->
					
            	{% endblock %}
            </div>
        {% endblock %}


        {% block javascripts %}
        	<script src="{{ asset('/js/jquery.min.js')}}"></script>
        	<script src="{{ asset('/js/skel.min.js')}}"></script>
        	<script src="{{ asset('/js/util.js')}}"></script>
        	<script src="{{ asset('/js/main.js')}}"></script>
		{% endblock %}
    </body>
</html>
