{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}

			<p>You have reached the test page.</p>
			<p>Here have this: {{ client_id }}</p>
			<p>{{ test }}</p>
		</section>

		<!-- Items -->
    {% endblock %}

{% endblock %}